body
  background #D7EAE8
  background url('../assets/img/crystals.jpg')
  background-size cover
  margin 0
  padding 0
  font-family courgette

main
  width 900px
  margin 0 auto
  & > h1
    text-align center
    margin-top 5%

section
  margin-top 13%
  padding 2em
  background url('../assets/img/blue/bg-middle.jpg')
  color #999
  border-top 30px solid
  border-image url('../assets/img/blue/bg-menu.jpg') 30 30 repeat

  p
    width 29%
    text-align justify
  form
    padding-left 50px
    box-sizing border-box
    width 70%


section > *
  display inline-block
  vertical-align top

h1
  font-size 2em
  margin 0 0 5px 0
  padding 0
  font-weight lighter
  //color #24A4B3

label
  display flex

input[type=text]
  flex-grow 1
  background #222
  border 1px solid #333
  padding 5px
  //color #24A4B3
  color #999
  font-size 1.2em

input[type=submit]
  background #C93D3E
  border 1px solid salmon
  color #fff
  margin-left 1em
  padding 7px 25px
  color #ccc
  font-variant small-caps
  font-size 1.3em

  &:hover
    background: #D94F4F;

.result
  width 100%
  margin-top 10px
  visibility hidden
  input
    width inherit
    padding 10px
    box-sizing border-box
